<div class="row">
  <div class="col-md-4">
    <div class="">
      <div class="mb-2" *ngFor="let skill of columnOneArray">
        {{ skill }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <div class="mb-2" *ngFor="let skill of columnTwoArray">
        {{ skill }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <div class="mb-2" *ngFor="let skill of columnThreeArray">
        {{ skill }}
      </div>
    </div>
  </div>
</div>
