datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 206px;
}

option {
  padding: 0;
  transform: rotate(-90deg);
  font-size: 14px;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}
