<div class="row">
  <div class="col-4 justify-content-center">
    <p class="">
      <button
        class="btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Button with data-bs-target
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">Some placeholder</div>
    </div>
  </div>
  <div class="col-4 d-flex justify-content-center">One of two columns</div>
  <div class="col-4 d-flex justify-content-center">One of two columns</div>
  <div class="col-4 d-flex justify-content-center">One of two columns</div>
  <div class="col-4 d-flex justify-content-center">One of two columns</div>
  <div class="col-4 d-flex justify-content-center">One of two columns</div>
  <div class="col-4 d-flex justify-content-center">One of two columns</div>
</div>
